/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/*説明）リンクの下線をなくす。装飾（ａタグの）を消すコード*/
a {
  text-decoration: none;
}

/*フォントの指定*/
header, nav, h2, .main-visual, footer {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

/*○ヘッダー */
header {
  width: 90%;
  /*説明）ヘッダーの箱になにか入ったら上下15pxあけてね*/
  padding: 15px 0;
  margin: 0 auto;
  background-color: red;
  /*説明）ヘッダーの中のテキストは基本中央寄せになります*/
  text-align: center;
  /*子要素に「absolute」を入れるとき、親に「relative」*/
  /*を入れると、ヘッダー内で位置が決まる*/
  position: relative;
}

/*アイコンひとまとめに対する設定*/
.social i {
  display: inline-block;
  margin-left: 20px;
}

/*アイコンの絶対位置の調整。ヘッダーの左上を基準に、上から22右から22*/
.social {
  position: absolute;
  top: 22px;
  right: 22px;
}

/*○ヘッダーの中の上部分*/
header .heading {
  font-size: 32px;
}

/*○ヘッダーの中の下部分の項目３つに対して*/
.nav-list {
  /*説明）テキストを中央寄せ。横並びにはならない*/
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

/*○ヘッダーの中の下部分、項目１つずつに対して*/
.nav-list-item {
  /*説明）箇条書きの点をなくします*/
  list-style: none;
  /*横並びにします*/
  display: inline-block;
  /*左右に20pxずつ余白を作ることで項目ごとに間隔を開ける*/
  margin: 0 20px;
}

/*□メインビジュアル */
.main-visual {
  width: 100%;
  height: 300px;
  /*□画像を載せます。画像の指定、サイズの指定、トリミング箇所の指定*/
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}

/*□メインビジュアルの中の左部分*/
.main-visual-cotent {
  width: 40%;
  height: 300px;
  /*背景色を半透明の黒にする*/
  background-color: rgba( 0,0,0,0.5);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: #fff;
}

.main-visual-name {
  color: #fff;
  margin-top: 30px;
}

/*■メイン */
main{
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /*メインの上下に70pxの余白設定*/
  padding: 70px 0;
  background-color: gold;
}

/*■メインの左側（ブログ）*/
.blog {
  width: 540px;
  /*ブログ（左側）の右側に30pxの余白設定*/
  margin-right: 30px;
  background-color: green;
}

/*■ブログのタイトル*/
.blog-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  /*下線を文字に近づける。１だと文字の下に来る*/
  line-height: 0.6;
}

/*■ブログタイトルの下をひとかたまりにします*/
.blog-box {
  padding-top: 50px;
}

/*■ブログの箱の中の画像とか文章*/
.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  justify-content: flex-start;
}

.blog-image {
  height: 180px;
}

.blog-text {
  padding: 25px 0 0 30px;
}

.blog-text-heading {
  padding-bottom: 15px;
}

.blog-date {
  font-size: 12px;
  /*テキストを横並びにする*/
  display: inline-block;
}

/*■ネイチャーの装飾*/
.category {
  /*「ネイチャー」の小さい箱（装飾？）を作る*/
  /*インラインブロック→ひとつの箱と捉えてね。余白が設定できるようになる*/
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

/*パジネーションひとまとまりに対して*/
.pagination {
  text-align: center;
  padding-top: 50px;
}

/*パジネーションネーションの要素一つずつに対して*/
.pagination p {
  /*横に並ぶ指示*/
  display: inline-block;
  width: 30px;
  height: 30px;
  /*左右に間隔をあける*/
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  /*角を削る*/
  border-radius: 3px;
  /*上下の中央に*/
  line-height: 30px;
}

/*■メインの右側（サイドバー）*/
.sidebar {
  width: 230px;
}

/*サイドバーの上中下のタイトルは「common」で統一して設定*/
.common-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

/*コンテンツ３つをそれぞれひとかたまりとして余白を設定*/
.sidebar-contents {
  padding: 50px 0;
}

/*上段、下段のテキストの余白と間の線の設定*/
.popular-text,
.categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}

/*上段、下段のテキストの一番下の余白と下線を外す*/
.popular-text:last-child,
.categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

/*画像６個ひとまとまりに対して→入る範囲で折り返しの指示*/
.instagram .sidebar-contents {
  display: flex;
  flex-wrap: wrap;
}

/*画像一つ一つに対して→画像幅、高さ（余白？）*/
.instagram-box {
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

/*画像の奇数番目のみに対して*/
.instagram-box:nth-child(odd) {
  /*上の余白なし、右と下に10、左の余白なし*/
  margin: 0 10px 10px 0;
}

.instagram-box:nth-child(1) {
  background-image: url(img/airport.jpg);
}

.instagram-box:nth-child(2) {
  background-image: url(img/japan.jpg);
}

.instagram-box:nth-child(3) {
  background-image: url(img/snow.jpg);
}

.instagram-box:nth-child(4) {
  background-image: url(img/japan2.jpg);
}

.instagram-box:nth-child(5) {
  background-image: url(img/lake.jpg);
}

.instagram-box:nth-child(6) {
  background-image: url(img/road.jpg);
}

/*●フッターの箱に対して */
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

/*●フッターのテキストに対して*/
.footer-text {
  color: #fff;
}

@media screen and (max-width: 425px) {
  /*スマホでは横幅いっぱいになる*/
  header {
    width: 100%;
  }

  /*スマホでは横幅いっぱいになる*/
  .nav-list {
    width: 100%;
  }

  .nav-list-item {
    width: 100%;
    margin: 0 0 10px 0;
  }

  /*スマホではアイコン表示をしない*/
  .social {
    display: none;
  }

  /*半透明黒背景をスマホだと100％表示に*/
  .main-visual-cotent {
    width: 100%;
  }

  main {
    width: 100%;
    /*メイン部分の左と右のブロックを縦並び（横並び解除）にする*/
    display: block;
  }

  /*ブログの項目をひとかたまりにしたときに右側の余白30pxを解除*/
  .blog {
    width: 100%;
    margin: 0;
  }

  /*ブログのボックス一つずつに対して左右余白を設定*/
  .blog-box {
    padding-left: 2px;
    padding-right: 2px;
  }

  /*ブログ画像のサイズを変更*/
  .blog-image {
    width: 49%;
    padding-top: 5%;
  }

  .blog-text {
    width: 49%;
    padding-top: 5px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-contents {
    padding-left: 3%;
    padding-right: 3%;
  }

  .instagram-box {
    width: 48%;
    padding-top: 48%;
  }

  .instagram-box:nth-child(odd) {
    margin-right: 4%;
  }

  .pagination {
    margin-bottom: 50px;
  }


}